// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    padding-top: 50px;
    padding-left: 30px;
}
.text-danger {
	font-size: 2rem;
}
.field {
	padding: 4px 0;
}
.actions {
	padding: 10px 0;
}
.home-text {
	word-spacing:1px;
}
.text-style {
	color : white;
	font-size: x-large;
}
